.root {
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 40px;
      height: 40px;
      line-height: 18px;
      padding: 10px;
      border: 1px solid red;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: red;
      &:hover {
        background-color: red;
        color: #fff;
      }
    }
  }
  :global {
    .selected {
     a {
       background-color: red;
       color: #fff
     }
    }
  }
}